{{#if plaidCompleted}}
  <div id="target">
  <!-- {{#plaid-link action='processPlaidToken'}}Verify Bank Account{{/plaid-link}} -->


  </div>
{{else}}


{{/if}}
<button {{action 'callApi' users}}>Call</button>
