{{#if plaidCompleted}}
  <div id="target">
  <!-- {{#plaid-link action='processPlaidToken'}}Verify Bank Account{{/plaid-link}} -->
    <center><p class="signin" {{action 'callApi' users}}>Sign in</p></center>
    <button {{action 'callApi' users}}>Call</button>

  </div>
{{else}}

<div>
</div>

{{/if}}
