{{#if plaidCompleted}}
  <div id="target">
  <!-- {{#plaid-link action='processPlaidToken'}}Verify Bank Account{{/plaid-link}} -->
<<<<<<< HEAD
    <center><p class="signin" {{action 'callApi' users}}>Sign in</p></center>
=======
<button {{action 'callApi' users}}>Call</button>
>>>>>>> f3e06efc390f69a9f263ae2c786fa09481985c25

  </div>
{{else}}


{{/if}}
