{{#if plaidCompleted}}
  <div id="target">
  {{#plaid-link action='processPlaidToken'}}Verify Bank Account{{/plaid-link}}
<!-- <button {{action 'callApi' users}}>Call</button> -->
    <!-- <center><p class="signin" {{action 'callApi' users}}>Sign in</p></center> -->

  </div>
{{else}}

{{/if}}
