<div id="about">
</div>
<div class="container">
  <div id="info">
    <p>
      This App has been a joint venture in the joys of programming! Written in Javascript, this application is running a backend server
      written in <span>Node.js</span> and <span>Express.js</span>. We've implemented MongoDB as our database, and are using the Plaid API (Venmo, Acorns, RobinHood).
      Our front end framework is managed by Ember.
    </p>
    <h2>Meet the team</h2>
      <a class="click" href="#"><span><img src="/images/coffeeMug.png" alt="" /></span></a>
  </div>
  <div id="team">


  </div>

</div>
