body {
  background: url(../images/coffee.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: simple;
}
@font-face {
    font-family: simple;
    src: url(../simple.ttf);
}
main {
  display: block;
  margin: auto;
}

button {
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 60px;
  color: white;
  font-family: simple;
  display: block;
  margin: auto;
  margin-top: 20%;
  text-shadow: 2px 2px 2px black;
}

a {
  font-size: 30px!important;
}
aside {
  margin: auto;
  display: block;
  clear: both;
}

aside h1 {
  float: left;
  width: 33.333%;
  color: white;
  text-align: center;
}

.vr{
  margin-top: 10px;
  font-size: 35px;
  color: #b1b1b1;
}

.signin{
  cursor: pointer;
  margin-top: 250px;
  align-self: center;
  color: white;
  font-size: 150px;
  text-shadow: 1px 2px 3px black;
}

#dropdown{
  font-size: 40px;

}

a:link {
  text-decoration: none;
  color: #686868;
}

a:hover {
  text-decoration: none;
  color: #686868;
}

a:active {
  text-decoration: none;
  color: #686868;
}

a:visited {
  text-decoration: none;
  color: #686868;
}

.droplist:hover{
  background-color: #e7e7e7;
}

.droplist{
  padding-left: 10px;
  padding-right: 15px;
}
